header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.logo {
    width: 15%;
    height: auto;
}
  
contact {
    font-size: 1.2em;
}

h2 {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainPic {
    max-width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background-color: rgba(61, 206, 235, 0.7);
    color: rgb(8, 26, 116);
    border: none;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    max-width: 40%;
    height: 7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #3278c2;
    transform: translateY(-2px);
}

.hint1 {
    text-align: right;
    margin-right: 20em;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    display: flex;                     /* Use flexbox for the item layout */
    align-items: center;               /* Center items vertically */
    border: none #ddd;           /* Optional: border for item */
    padding: 10px;                    /* Padding inside items */
}

/* Image styling */
.item img {
    max-width: 100px;                 /* Set a maximum width for the images */
    height: auto;                     /* Maintain aspect ratio */
    margin-right: 15px;               /* Space between image and text */
}

/* Text styling */
.text h3 {
    margin: 0;                        /* Remove default margin */
    font-size: 1.2em;                 /* Adjust header font size */
}

.text p {
    margin: 5px 0 0;                  /* Margin for paragraph text */
    font-size: 0.9em;                  /* Adjust paragraph font size */
}

.cmt {
    border-radius: 50px;
    background-color: rgb(176, 176, 178);
    padding: 1%;
}

.speaker {
    text-align: right;
    margin-right: 30px;
}

.hint2 {
    text-align: left;
    margin-left: 20em;
}

.hint1, .hint2 {
    color: rgb(30, 71, 147);
}